body {
  font: 14px Arial, Verdana, Tahoma, sans-serif;
  background-color: #808080; }
  body #wrapper {
    border-width: 3px;
    border-color: #C0C0C0;
    border-style: double;
    padding: 5px 20px;
    margin: 0 auto;
    width: 800px;
    background-color: #FFFFFF; }
    body #wrapper header {
      border-width: 3px;
      border-color: #C3C3C3;
      border-style: groove;
      padding: 5px 20px;
      margin: 20px 0; }
      body #wrapper header h1 {
        font-size: 3em;
        font-weight: bold;
        color: #808080;
        text-decoration: none;
        text-align: center;
        margin: 5px; }
      body #wrapper header nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        padding: 0; }
        body #wrapper header nav ul li {
          list-style-type: none; }
          body #wrapper header nav ul li a {
            display: block;
            border: 3px groove #B4B4B4;
            width: 80px;
            height: 30px;
            text-align: center;
            margin: 0 30px;
            line-height: 30px;
            text-decoration: none;
            color: #918DA3; }
            body #wrapper header nav ul li a:hover {
              border-style: ridge;
              background-color: #918DA3;
              color: white; }
    body #wrapper section {
      border-width: 3px;
      border-color: #C3C3C3;
      border-style: groove;
      padding: 5px 20px;
      margin: 20px 0; }
      body #wrapper section header {
        border: none;
        font-size: 0.5em;
        font-weight: bold;
        color: #808080;
        text-decoration: underline;
        text-align: center;
        margin: 5px; }
      body #wrapper section article {
        border-width: 3px;
        border-color: #BABABA;
        border-style: groove;
        padding: 5px 20px;
        border-width: 1px;
        margin: 15px; }
        body #wrapper section article #vertical {
          font-size: 0.6em;
          font-weight: bold;
          color: #808080;
          text-decoration: none;
          text-align: center;
          margin: 5px; }
        body #wrapper section article .innerContainer {
          display: flex;
          justify-content: center;
          align-items: center; }
          body #wrapper section article .innerContainer .purple {
            width: 100px;
            height: 100px;
            margin: 15px 0;
            border-radius: 15px;
            background-image: linear-gradient(#340634, #FFFFFF); }
          body #wrapper section article .innerContainer .blue {
            width: 100px;
            height: 100px;
            margin: 15px 0;
            border-radius: 15px;
            background-image: linear-gradient(#0303B0, #FFFFFF); }
          body #wrapper section article .innerContainer .green {
            width: 100px;
            height: 100px;
            margin: 15px 0;
            border-radius: 15px;
            background-image: linear-gradient(#043304, #FFFFFF); }
          body #wrapper section article .innerContainer .yellow {
            width: 100px;
            height: 100px;
            margin: 15px 0;
            border-radius: 15px;
            background-image: linear-gradient(#F5F503, #FFFFFF); }
          body #wrapper section article .innerContainer .orange {
            width: 100px;
            height: 100px;
            margin: 15px 0;
            border-radius: 15px;
            background-image: linear-gradient(#EB9304, #FFFFFF); }
          body #wrapper section article .innerContainer .red {
            width: 100px;
            height: 100px;
            margin: 15px 0;
            border-radius: 15px;
            background-image: linear-gradient(#CD0303, #FFFFFF); }

